@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");

:root {
    font-family: "HK Grotesk", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --fg0: #252528;
    --fg1: #4e4e52;
    --fg2: #8d8c93;
    --bg0: #fff;
    --bg1: #ddd;
    --bg2: #bbb;

    --red: #ff595e;
    --yellow: #ffca3a;
    --green: #8ac926;
    --blue: #1982c4;
    --purple: #6a4c93;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

button {
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: var(--bg0);
    outline: 1px solid var(--fg0);
}

button.accent {
    color: var(--bg0);
    background-color: var(--fg0);
}


button.selection {
    padding: 1em 2em;
    text-align: left;
    transition-duration: 200ms;
}

button.selection.enabled {
    color: var(--bg0);
    background-color: var(--fg0);
    transition-duration: 200ms;
}

button.icon {
    background: transparent;
    padding: 0.6em;
    outline: none;
}

#app {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

p {
    font-size: 16px;
    font-weight: 400;
}

button > p {
    margin: 0;
}
