@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");

:root {
    font-family: "HK Grotesk", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --fg0: #252528;
    --fg1: #4e4e52;
    --fg2: #8d8c93;
    --bg0: #fff;
    --bg1: #eee;
    --bg2: #ddd;

    --transparent-red: #ff595e44;
    --red: #ff595e;
    --yellow: #ffca3a;
    --lgreen: #b3e75f;
    --transparent-green: #8ac92644;
    --green: #8ac926;
    --dgreen: #32ac42;
    --blue: #1982c4;
    --lblue: #a8d4f0;
    --purple: #6a4c93;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

button {
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    background-color: var(--bg0);
    outline: 1px solid var(--fg0);
}

/*
button.accent {
    color: var(--bg0);
    background-color: var(--fg0);
}
*/

button.start-button {
    color: var(--bg0);
    box-shadow: 0 8px var(--dgreen);
    background-color: var(--green);
    outline: none;
    width: 250px;
    margin-top: 16px;
    transition-duration: 200ms;
    text-transform: uppercase;
}

button.start-button:hover {
    background-color: var(--fg0);
}

button.start-button:active {
    transform: translateY(4px);
    transition-duration: 200ms;
    box-shadow: 0 4px var(--dgreen);
}

button.start-button:hover {
    background-color: var(--lgreen);
    transition-duration: 200ms;
}

button.selection {
    padding: 1em 2em;
    text-align: left;
    transition-duration: 200ms;
}

button.selection:hover {
    background-color: var(--bg1);
    /*color: var(--blue);*/
    transition-duration: 200ms;
}

button.selection.enabled {
    color: var(--bg0);
    background-color: var(--fg0);
    transition-duration: 200ms;
}

button.icon {
    background: transparent;
    padding: 0.6em;
    outline: none;
}

#app {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

p {
    font-size: 16px;
    font-weight: 400;
}

button > p {
    margin: 0;
}

a:visited {
    color: inherit;
}
